export(GetJCol)
export(GetJColByName)
export(GetJColNames)
export(GetJManyCols)
export(GetJManyColsByNames)
export(GetJManyRows)
export(GetJManyRowsByNames)
export(GetJNames)
export(GetJRow)
export(GetJRowByName)
export(GetJRowNames)
export(GetSubdiag)
export(JMatInfo)
export(JMatrixSetDebug)
export(JWriteBin)
importFrom(memuse,Sys.meminfo)
importFrom(memuse,Sys.swapinfo)
useDynLib(jmatrix, .registration=TRUE)
importFrom(Rcpp, evalCpp)
